@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-gray-800 text-white;
  }

}

@layer components {

  .input-label {
    @apply block text-gray-100 text-sm font-bold mb-2;
  }

  .input-field {
    @apply bg-transparent appearance-none border border-gray-400 rounded-lg w-full py-2 px-3 text-gray-100 leading-tight focus:outline-none focus:border-blue-400 transition-colors;
  }

  .button {
     @apply flex justify-center items-center px-3 py-2 font-medium text-white transition-all rounded-lg hover:opacity-80 bg-blue-400 disabled:cursor-not-allowed disabled:hover:opacity-100 disabled:bg-blue-900;
  }
  .button-secondary {
    @apply bg-gray-600 disabled:bg-gray-900;
  }
  .button-small {
    @apply px-2.5 py-1;
  }
  .button-outline {
    @apply bg-transparent border border-gray-500;
  }
  
  .file-input {
    /* @apply bg-transparent appearance-none border border-gray-400 rounded-lg w-full py-2 px-3 text-gray-100 leading-tight focus:outline-none focus:border-blue-400 transition-colors; */
    @apply block w-full text-sm text-gray-100 border border-gray-500 rounded-lg cursor-pointer bg-transparent focus:outline-none placeholder-gray-400;
  }
  .file-input::file-selector-button {
    -webkit-margin-start: -1rem;
    -webkit-margin-end: 1rem;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    margin-inline-end: 1rem;
    margin-inline-start: -1rem;
    padding: .625rem 1rem .625rem 2rem;
    @apply bg-gray-900;
  }

}